body {
  text-align: center;
}

main {
  margin: 8px;
  display: flex;
  flex-direction: column;
  /*color: #000;*/
}

.link, main p a, main p a:link {
  color: #004D26;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  will-change: color;
  transition: color 650ms;
}
main a:focus, main a:hover, main a:active {
  color: #00aa54;
  will-change: color;
}

h1 em {
  color: #004D26;
}
p {
  text-align: left;
}
section, article {
  margin-bottom: 1em;
}
footer a {
  color: #fff;
}
