main {
  hyphens: auto;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  /*color: #000;*/
}

#spendenTop {
  margin: 15px;
  display: flex;
}

.centerAlign {
  word-break: break-word;
  text-align: center;
}

p.centerAlign {
  font-size: 2rem;
}

/*linke Seite Spendeninfos*/

#linkeSeite {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 3px solid #004d26;
  border-radius: 6px;
  margin-right: 5px;
  width: 60%
}

#infos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
}

/*Spendenformular*/
#spendenformular {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  border: 3px solid #004d26;
  border-radius: 6px;
  margin-left: 5px;
  padding: 3px;
}

#formular {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}

input[type=text], input[type=submit],input[type=date], input[type=email], input[type=number] {
  border-radius: 6px;
}

input[type=text], input[type=date], input[type=email], input[type=number] {
  height: 1.5rem;
  width: 100%;
}

input[type=radio], input[type=radio] + label, input[type=submit]{
  cursor: pointer;
}
form{
  width: 60%;
}
fieldset {
  border-radius: 4px;
  background-color: #f8f8f8;
}

#betragInput {
  display: flex;
  flex-direction: row;
}

#betragInput p {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 3px;
  margin-left: 3px;
  width: 20%;
  text-align: center;
}

#betragInput input {
  height: 1.5rem;
  width: 80%;
}

#fieldBetrag {
  display: flex;
  flex-direction: column;
}
.parallel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.parallel div {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.parallel input {
  width: 80%
}
#spendeSenden {
  font-size: 1rem;
  margin: 1em 0;
  padding: 1em;
  width: 100%;
  display: block;
  color: #fff;
  border-radius: 2em;
}

/*responives Layout (Breakpoints)*/

@media only screen and (max-width: 800px) {
/* For mobile phones: */
  #spendenTop {
    display: flex;
    flex-direction: column;
  }
  #linkeSeite, #spendenformular {
    width: auto;
    padding: 0;
    margin: 0;
  }
  #spendenformular {
    margin-top: 15px;
  }

  #spendenRanking {
    display: flex;
    flex-direction: column;
  }
  #infos{
    width: 95%;
  }
  form{
    width: 95%;
  }
}

@media only screen and (max-width: 1200px) {
/* Für das Formular */
  .parallel {
    display: flex;
    flex-direction: column;
  }
  .parallel div{
    width: 100%;
  }
  .parallel input {
    width: 100%;
  }
  form{
    width: 95%;
  }
}

/* Dark mode * /
@media (prefers-color-scheme: dark) {
  fieldset {
    background-color: #222;
  }
}*/

