main {
    /*font-size:  20px;*/
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    hyphens: auto;
    overflow-wrap: break-word;
}

/*Style für Tierabgabeformular*/

#tierabgabe {
  width: 30%;
  border: 3px solid #004d26;
  border-radius: 6px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#tierabgabe p {
  margin: 0;
}

#tierabgabe h1 {
  text-align: center;
}

input[type=text], input[type=date], input[type=number], input[type=email] {
  height: 1.5rem;
  width: 100%;
  border-radius: 6px;
}

input[type=checkbox], input[type=checkbox] + label, input[type=submit] {
  cursor: pointer;
}

select {
  height: 1.5rem;
  font-size: 1rem;
}

fieldset {
  border-radius: 4px;
  background-color: #f8f8f8;
}

#tierabgabeSenden{
  font-size: 1rem;
  margin: 1em 0;
  padding: 1em;
  width: 100%;
}

/*Style für die Bilder*/

aside {
  width: 30%;
  border: 3px solid #004d26;
  border-radius: 6px;
  height: auto;
  width: 30%;
  max-width: 640px;
}

aside img{
  width: 100%;
  max-width: 640px;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;

}

/*responives Layout (Breakpoints)*/

@media only screen and (max-width: 1200px) {
  /* For mobile phones: */
  #tierabgabe{
    width: 100%;
  }

  aside {
    display: none;
  }
}

/* Dark mode * /
@media (prefers-color-scheme: dark) {
  fieldset {
    background-color: #222;
  }
}*/
