main{
    font-size:  20px;
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    color: black;
}

#tierabgabe{
  width: 30%;
  border: 3px solid black;
  border-radius: 6px;
  padding: 15px;
}

#tierabgabe p{
  margin: 0;
}

#tierabgabe h1{
  text-align: center;
}

input[type=text]{
  width: 100%;
}

fieldset{
  border-radius: 4px;
  background-color: #f8f8f8;
}

@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  #tierabgabe{
    width: 100%;
  }
}